<h1 class="header text-center"><%=@restaurant.name %></h1>
<%= link_to 'Homepage', restaurants_path  %>

<div class="row justify-content-md-center">
   <div class="col-6-6">
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<% @restaurant.reviews.each do |review| %>
<%= review.content%>
<%= review.rating %>
<% end %>
</div>
</div>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: 'Write Review' %>
  <%= f.input :rating, placeholder: 'Out of 5' %>
  <%=  f.button :submit, class: "btn btn-danger" %>
<% end %>





